<!--sidebar HTML elements for Settings page-->
<nav id="nav_settings_sidebar"
     class="float-left col-2 col-sm-3 col-lg-2 col-xl-1 pl-0 pr-0 collapse show">
    <div class="list-group border-0">

        <!--Core settings selection element-->
        <a id="a_sidebar_settings_core"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('core');"
           href="javascript:void(0);">
            <i class="fas fa-cogs"></i>
            <span class="d-none d-sm-inline pl-2">
                System
            </span>
            <span class="sr-only">
                System
            </span>
        </a>

        <!--Data Units settings selection element-->
        <a id="a_sidebar_settings_dataunits"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('dataunits');"
           href="javascript:void(0);">
            <i class="fas fa-university"></i>
            <span class="d-none d-sm-inline pl-2">
                Units
            </span>
            <span class="sr-only">
                Units
            </span>
        </a>

        <!--Log settings selection element-->
        <a id="a_sidebar_settings_log"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('log');"
           href="javascript:void(0);">
            <i class="fas fa-list-ol"></i>
            <span class="d-none d-sm-inline pl-2">
                Logging
            </span>
            <span class="sr-only">
                Logging
            </span>
        </a>

        <!--Compact settings selection element-->
        <a id="a_sidebar_settings_compact"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('compact');"
           href="javascript:void(0);">
            <i class="fas fa-database"></i>
            <span class="d-none d-sm-inline pl-2">
                Compact
            </span>
            <span class="sr-only">
                Compact
            </span>
        </a>

        <!--Status Update settings selection element-->
        <a id="a_sidebar_settings_update"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('update');"
           href="javascript:void(0);">
            <i class="fas fa-clipboard-check"></i>
            <span class="d-none d-sm-inline pl-2">
                Status
            </span>
            <span class="sr-only">
                Status
            </span>
        </a>

        <!--Cloud settings selection element-->
        <a id="a_sidebar_settings_cloud"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('cloud');"
           href="javascript:void(0);">
            <i class="fas fa-cloud-upload-alt"></i>
            <span class="d-none d-sm-inline pl-2">
                Cloud
            </span>
            <span class="sr-only">
                Cloud
            </span>
        </a>

        <!--Network settings selection element-->
        <a id="a_sidebar_settings_network"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('network');"
           href="javascript:void(0);">
            <i class="fas fa-signal"></i>
            <span class="d-none d-sm-inline pl-2">
                Network
            </span>
            <span class="sr-only">
                Network
            </span>
        </a>

        <!--Email settings selection element-->
        <a id="a_sidebar_settings_email"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('email');"
           href="javascript:void(0);">
            <i class="fas fa-envelope"></i>
            <span class="d-none d-sm-inline pl-2">
                Email
            </span>
            <span class="sr-only">
                Email
            </span>
        </a>

        <!--SMS settings selection element-->
        <a id="a_sidebar_settings_sms"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('sms');"
           href="javascript:void(0);">
            <i class="fas fa-mobile-alt"></i>
            <span class="d-none d-sm-inline pl-2">
                SMS
            </span>
            <span class="sr-only">
                SMS
            </span>
        </a>

        <!--SNMP settings selection element-->
        <a id="a_sidebar_settings_snmp"
           class="list-group-item d-inline-block collapsed a_sidebar_settings"
           data-parent="#nav_settings_sidebar"
           aria-expanded="false"
           onclick="a_clk_sidebar_settings_toggle('snmp');"
           href="javascript:void(0);">
            <i class="fas fa-bullhorn"></i>
            <span class="d-none d-sm-inline pl-2">
                SNMP
            </span>
            <span class="sr-only">
                SNMP
            </span>
        </a>

    </div>
</nav>
