<!--Email settings control elements-->
<div id="settings_email"
     class="settings">

    <h3 class="row d-none d-md-block mb-3 text-left">
        <a class="col-1"
           data-target="#nav_settings_sidebar"
           data-toggle="collapse"
           href="javascript:void(0);">
            <i class="fas fa-bars text-violet"></i>
        </a>
        <span class="col">
            <i class="fas fa-envelope"></i>
            Email Settings
        </span>
    </h3>

    <h4 class="row d-md-none mb-3 text-left">
        <a class="col-1"
           data-target="#nav_settings_sidebar"
           data-toggle="collapse"
           href="javascript:void(0);">
            <i class="fas fa-bars text-violet"></i>
        </a>
        <span class="col ml-2">
            <i class="fas fa-envelope"></i>
            Email Settings
        </span>
    </h4>

    <div class="row">

        <div class="form-group col-lg-4">

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input type="checkbox"
                           id="chk_settings_smtp_en"
                           autocomplete="off"
                           onchange="chk_clk_settings_smtp_en_toggle();">
                </div>
                <div class="input-group-append">
                    <input type="button"
                           id="btn_settings_smtp_en"
                           class="form-control-sm btn alert-danger"
                           value="Email Enabled">
                </div>
            </div>

            <label for="txt_settings_smtp_from"
                   class="sr-only col-form-label">
                From Address
            </label>
            <input type="text"
                   id="txt_settings_smtp_from"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 settings_smtp"
                   placeholder="From Address">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-12 col-xl-6 mb-3">
                From email address.
            </small>

            <label for="txt_settings_smtp_server"
                   class="sr-only col-form-label">
                Email Server URL
            </label>
            <input type="text"
                   id="txt_settings_smtp_server"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 settings_smtp"
                   placeholder="Email Server URL">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-12 col-xl-6 mb-3">
                Email server.
            </small>

            <label for="nbr_settings_smtp_port"
                   class="sr-only col-form-label">
                Email Server Port
            </label>
            <input type="number"
                   id="nbr_settings_smtp_port"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 settings_smtp"
                   placeholder="Email Server Port"
                   min="0"
                   step="1">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-12 col-xl-6 mb-3">
                Email server port.
            </small>

            <label for="nbr_settings_smtp_timeout"
                   class="sr-only col-form-label">
                Email Server Timeout
            </label>
            <input type="number"
                   id="nbr_settings_smtp_timeout"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 settings_smtp"
                   placeholder="Email Server Timeout"
                   min="0"
                   step="1">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-12 col-xl-6 mb-3">
                Email server timeout (in secs).
            </small>

            <label for="pwd_settings_smtp_pwd"
                   class="sr-only col-form-label">
                Email Server Password
            </label>
            <input type="password"
                   id="pwd_settings_smtp_pwd"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 settings_smtp"
                   placeholder="Email Server Password">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-12 col-xl-6 mb-3">
                Email server password.
            </small>

            <input type="submit"
                   role="button"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-12 col-xl-6 btn btn-info mb-3"
                   onclick="btn_clk_settings('email');"
                   onmousedown="event.preventDefault();"
                   value="Submit Email Updates">

        </div>

        <div class="form-group col-lg-8">

            <div class="row px-3">

                <label for="txt_settings_smtp_address"
                       class="sr-only col-form-label col-sm-8 col-md-6 col-lg-4">
                    Email Address
                </label>
                <input type="text"
                       id="txt_settings_smtp_address"
                       class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 alert-info"
                       placeholder="Email Address">

                <div class="form-control-sm btn-group btn-group-sm btn-group-toggle flex-wrap justify-content-center"
                     data-toggle="buttons">

                    <label id="lbl_settings_smtp0_list"
                           class="btn text-center lbl_settings_smtp_list"
                           onclick="lbl_clk_settings_smtp_list_toggle('status');">
                        <input type="radio"
                               id="rad_settings_smtp0_list"
                               name="rad_settings_smtp_list"
                               autocomplete="off"
                               value="status">
                        Status List
                    </label>

                    <label id="lbl_settings_smtp1_list"
                           class="btn text-center lbl_settings_smtp_list"
                           onclick="lbl_clk_settings_smtp_list_toggle('alert');">
                        <input type="radio"
                               id="rad_settings_smtp1_list"
                               name="rad_settings_smtp_list"
                               autocomplete="off"
                               value="alert">
                        Alert List
                    </label>

                    <label id="lbl_settings_smtp2_list"
                           class="btn text-center lbl_settings_smtp_list"
                           onclick="lbl_clk_settings_smtp_list_toggle('error');">
                        <input type="radio"
                               id="rad_settings_smtp2_list"
                               name="rad_settings_smtp_list"
                               autocomplete="off"
                               value="error">
                        Error List
                    </label>

                </div>

                <div class="form-control-sm btn-group btn-group-sm btn-group-toggle flex-wrap justify-content-center"
                     data-toggle="buttons">

                    <label id="lbl_settings_smtp0_choice"
                           class="btn text-center lbl_settings_smtp_choice"
                           onclick="lbl_clk_settings_smtp_choice_toggle('add');">
                        <input type="radio"
                               id="rad_settings_smtp0_choice"
                               name="rad_settings_smtp_choice"
                               autocomplete="off"
                               value="add">
                        Add
                    </label>

                    <label id="lbl_settings_smtp1_choice"
                           class="btn text-center lbl_settings_smtp_choice"
                           onclick="lbl_clk_settings_smtp_choice_toggle('delete');">
                        <input type="radio"
                               id="rad_settings_smtp1_choice"
                               name="rad_settings_smtp_choice"
                               autocomplete="off"
                               value="delete">
                        Delete
                    </label>

                </div>

                <small class="form-text text-muted col-12 mb-3">
                    Enter email address and select "add" or "delete", then the list to change.
                </small>

                <input type="submit"
                       role="button"
                       id="btn_settings_smtp_list"
                       class="form-control-sm col-sm-8 col-md-6 col-lg-6 col-xl-4 btn btn-info mb-3"
                       onclick="btn_clk_settings('email_list');"
                       onmousedown="event.preventDefault();">

            </div>

            <div class="row px-3">

                <section class="col-xl-4">
                    <h5 class="text-center">
                        Email Status List
                    </h5>
                    <table class="table table-sm">
                        <tbody id="tbody_settings_smtp_status">

                        </tbody>
                    </table>
                </section>

                <section class="col-xl-4">
                    <h5 class="text-center">
                        Email Alert List
                    </h5>
                    <table class="table table-sm">
                        <tbody id="tbody_settings_smtp_alert">

                        </tbody>
                    </table>
                </section>

                <section class="col-xl-4">
                    <h5 class="text-center">
                        Email Error List
                    </h5>
                    <table class="table table-sm">
                        <tbody id="tbody_settings_smtp_error">

                        </tbody>
                    </table>
                </section>

            </div>

        </div>
    </div>
</div>