<!--Network settings control elements-->
<div id="settings_network"
     class="settings">

    <h3 class="row d-none d-md-block mb-3 text-left">
        <a class="col-1"
           data-target="#nav_settings_sidebar"
           data-toggle="collapse"
           href="javascript:void(0);">
            <i class="fas fa-bars text-violet"></i>
        </a>
        <span class="col">
            <i class="fas fa-signal"></i>
            Network Settings
        </span>
    </h3>

    <h4 class="row d-md-none mb-3 text-left">
        <a class="col-1"
           data-target="#nav_settings_sidebar"
           data-toggle="collapse"
           href="javascript:void(0);">
            <i class="fas fa-bars text-violet"></i>
        </a>
        <span class="col ml-2">
            <i class="fas fa-signal"></i>
            Network Settings
        </span>
    </h4>

    <div class="row">

        <div class="form-group col">

            <label for="txt_settings_network_url"
                   class="sr-only col-form-label">
                Polling Server URL
            </label>
            <input type="text"
                   id="txt_settings_network_url"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 alert-info"
                   placeholder="Polling Server URL">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-4 col-xl-2 mb-3">
                External server to poll (without 'http://').
            </small>

            <label for="nbr_settings_network_intgood"
                   class="sr-only col-form-label">
                Connected Polling Interval
            </label>
            <input type="number"
                   id="nbr_settings_network_intgood"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 alert-info"
                   placeholder="Connected Polling Interval"
                   min="1"
                   max="60"
                   step="1">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-4 col-xl-2 mb-3">
                Interval (1 to 60 min) when previous check succeeded.
            </small>

            <label for="nbr_settings_network_intbad"
                   class="sr-only col-form-label">
                Disconnected Polling Interval
            </label>
            <input type="number"
                   id="nbr_settings_network_intbad"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 alert-info"
                   placeholder="Disconnected Polling Interval"
                   min="1"
                   max="60"
                   step="1">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-4 col-xl-2 mb-3">
                Interval (1 to 60 min) when previous check failed.
            </small>

            <label for="nbr_settings_network_timeout"
                   class="sr-only col-form-label">
                Timeout
            </label>
            <input type="number"
                   id="nbr_settings_network_timeout"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 alert-info"
                   placeholder="Timeout"
                   min="0"
                   step="1">
            <small class="form-text text-muted col-sm-8 col-md-6 col-lg-4 col-xl-2 mb-3">
                Polling timeout (minimum 1 sec).
            </small>

            <input type="submit"
                   role="button"
                   class="form-control-sm col-sm-8 col-md-6 col-lg-4 col-xl-2 btn btn-info"
                   onclick="btn_clk_settings('network');"
                   onmousedown="event.preventDefault();"
                   value="Submit Network Updates">

        </div>
    </div>
</div>